@model IEnumerable<AllDirectorsViewModel>

@{
    ViewBag.Title = "Directors";
}
<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>
<hr />

@if (User.IsInRole(AdminRoleName))
{
    <a href="@Url.Action("Add", "Director")" class="btn btn-primary">Add Director</a>
}


<div class="directors-list">
    @foreach (var director in Model)
    {
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" src="@director.ImageUrl" alt="@director.Name">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">@director.Name</p>
                    <div class="btn-group">
                            <a href="@Url.Action("Details", "Director", new { id = director.Id })" class="btn btn-sm btn-outline-secondary">Details</a>
                            @if (User.IsInRole(AdminRoleName))
                        {
                        <a href="@Url.Action("Edit", "Director", new { id = director.Id })" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="@Url.Action("Delete", "Director", new { id = director.Id })" class="btn btn-sm btn btn-danger">Delete</a>
                        }
                        </div>
                </div>
            </div>
        </div>
    }
</div>